@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Lulo Clean";
  src: url("/fonts/lulu-clean/Lulo-Clean-One-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.gstatic.com/s/raleway/v34/1Ptug8zYS_SKggPNyC0ITw.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  scrollbar-color: #f3f4f6 transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #efeeee;
  border-radius: 1rem;
}
