@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Lulo Clean";
  src: url("/fonts/lulu-clean/Lulo-Clean-One-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.gstatic.com/s/raleway/v34/1Ptug8zYS_SKggPNyC0ITw.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  scrollbar-color: #f3f4f6 transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bb2828;
  border-radius: 1rem;
}

/* For the parent container */
.scroll-container {
  overflow-x: auto; /* Allows horizontal scrolling */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


/* In your global CSS or a dedicated stylesheet */
@layer utilities {
  .animate-pulseCustom {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 1; /* Full opacity */
  }
  50% {
    opacity: 0.5; /* Half opacity */
  }
  100% {
    opacity: 1; /* Full opacity */
  }
}